/* Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700&family=Poppins:wght@200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
body{
    background: url(../img/bg.jpg);
    background-size: cover;
    /* object-fit: cover; */

}
.container{
    background: #fff;
    /* border: 1px solid black; */
    width: 960px;
    margin: 80px auto;
    /* agar sama dengan position twitter */
    position: relative;
}
.top-bar{
    background: rgb(0, 183, 255);
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    position: fixed;
    z-index: 1;
}
.hero{
    background-image: url(../img/hero.jpg);
    width: 100%;
    border-top: 5px solid rgb(0, 183, 255);
    border-bottom: 5px solid green;
    height: 400px;
    background-size: cover;
    background-position: center;
    
}
header{
    color: #000;
}
header h1{
    font-size: 3rem;
    padding-top: 20px;
    padding-left: 20px;
    /* background: rgb(0, 161, 48); */
}
nav{
    padding-bottom: 10px;
    padding-left: 20px;
    /* padding: 20px; */
    /* background: rgb(0, 161, 48); */
}
nav ul li a{
    padding-right: 30px;
    color: rgb(0, 183, 255);
    text-decoration: none;
}
nav ul li .active{
    font-weight: bold;;
}
nav ul li{
    display: inline;
    text-decoration: none;
    color: black;
    /* background-color: aqua; */
}
.content{
    padding: 20px;
}
main{
    width: 600px;
    box-sizing: border-box;
    float: left;
}
.judul{
    line-height: 1.5rem;
}
.judul a{
    color: rgb(0, 183, 255);
}
article p{
    margin: 1rem 0;
    font-size: 1rem;
}
.sidebar{
    width: 300px;
    float: right;
}
.sidebar img{
    width: 100px;
    border-radius: 50%;
    float: left;
    padding-right: 10px;
}
.sidebar p{
    font-size: 13px;
}
.twitter{
    width: 256px;
    height: 256px;
    background-image: url(../img/twitter-ribbon.png);
    background-repeat: no-repeat;
    display: inline-block;
    /* memberikan indentasi */
    text-indent: -9999px;
    /* kotaknya hilang */
    position: absolute;
    top: -24px;
    right: -30px;
}







footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
